$primary-color:  #ffa400;
$second-color: #ff0059;
$neutral-color: #eee;
$primery-neutral-color: #000;
$second-neutral-color: #fff;

//text colors
$primary-text-color: #aaa;
$accend-color: $primary-color;
$second-text-color: $second-neutral-color;

// border colors
$primary-border-color: $neutral-color;

//Colors shaodows
$primary-shadow : $neutral-color;